@media (max-width: 319px) {
    body {
        display: none;
    }
}


/* Правила для 320px */
@media (min-width: 320px) {
    body {
        margin: 0;
    }
    
    .nav__list.--hidden {
        display: none;
    }

    .nav.header__menu {
        width: 100%;
        height: 87px;
        align-content: center;

        background: #FFFFFF;
        border-bottom: 1px solid #D9FFF5;
        
    }

    .nav__list {
        padding: 0 16px;
        margin: 0;
        height: 52px;

        list-style-type: none;
        display: flex;
        align-items: center ;
        flex-direction: row;
        column-gap: 16px;
    }
    
    .menu__button {
        width: 40px;
        height: 40px;
    }
    
    .menu__link {
        width: 96.55px;
        height: 52px;
    }
    
    .menu__divider {
        width: 2px;
        height: 32px;
        margin-right: 4px;
    }

    .xs-menu-element-none {
        display: none;
    }
 
    


    /* main block */

    .main {
        display: flex;
        flex-direction: column;
        row-gap: 24px;

        margin: 0;
        padding: 0;
        padding-top: 24px;
        background-color: #F8F8F8;

        font-family: 'TT Lakes',sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #1B1C21;
        height: 100vh;
    }
    
    .main__pageTitle {
        display: flex;
        flex-direction: row;
        height: 40px;
    }

    .main__pageTitle_hilight {
        width: 4px;
        height: 40px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #41F6D7;
    }

    .main__pageTitle_text {
        margin: 0;
        margin-left: 12px;

        letter-spacing: -0.6px;
        font-size: 24px;
        line-height: 40px;
    }

    .main__button_repairIcon {
        display: none;
    }
    
    .main__button_checkStatusIcon {
        display: none;
    }




    /* Начало side menu */

    .main__asideBox {
        display: flex;

        position: relative;
        padding: 0;

        height: 40px;
    }

    .main__sideMenu {   
        margin: 0; 
        padding: 0;
        list-style: none;       /* Убираю бар */

        display: flex;
        gap: 0;

        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .sideMenu::-webkit-scrollbar {
        display: none;
    }

    .main__sideMenu_button {
        flex: 0 0 auto;
        height: 40px;
        margin: 0;
        padding: 8px 10px;
        width: max-content;
        border-color: #F8F8F8;
        border-style: solid;
        border-width: 2px;
        border-radius: 6px;
        background-color: #F8F8F8;

        font-size: 16px;
        font-family: 'TT Lakes',sans-serif;
        letter-spacing: -0.2px;
        color: #7E7E82;
    }

    .main__sideMenu li:first-child,
    .main__sideMenu li:last-child {
        margin: 0 16px;
    }

    .main__sideMenu_button:focus {
        background-color: #FFFFFF;
        border-color: #B8FFEC;
    }

    .sideMenu__leftEage_fade {          /* По ТЗ не нужно но я сделал :)*/
        position: absolute;
        left: 0;
        width: 8px;
        height: 40px;
        background: linear-gradient(to right, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    }

    .sideMenu__rightEage_fade {
        position: absolute;
        right: 0;
        width: 24px;
        height: 40px;
        background: linear-gradient(to left, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    }

    .main__block {
        padding: 0 16px;
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-between;
        row-gap: 16px;
    }

    .main__block_text {
        width: 288px;
        height: 90px;

        overflow: hidden;
        font-weight: 300;
        letter-spacing: 0.2px;
        font-size: 14px;
        line-height: 18px;
    }

    .main__block_par1 {
        margin: 0;        
    }

    .main__readMore {     
        width: 132px;
        height: 24px;

        display: inline-flex;
        column-gap: 8px;

        letter-spacing: -0.2px;
    }

    .main__img {
        margin-left: -16px;
    }

}





/************************************************/

/* Правила для 768px */
@media (min-width: 768px) {

    .nav__list {
        padding: 0 24px;
    }

    .menu__link { 
        margin-right: auto;
    }
    
    .menu__divider {
        margin: 0 4px;  
    }

    .xs-menu-element-none {
        display: flex;
    }
    
    


    /* main block */
    .main {
        row-gap: 32px;
    }

    .main__button_repairIcon {
        display: none;
    }
    
    .main__button_checkStatusIcon {
        display: none;
    }

    .main__block { 
        height: 208px;
        padding-left: 24px;
        padding-right: 25px;
        padding-bottom: 40px;

        align-content: normal;
        gap: 0 48px;
    }


    .main__block_text {
        width: 312px;
        height: 160px;
    }

    .main__block_par1 {     
        margin-bottom: 20px;
    }
    
    .main__block_text::after {
        letter-spacing: 0.2px;
        font-size: 14px;
        line-height: 18px;
        text-align: left;
        content: "Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера" ;
    }

    .main__readMore {    
        margin-right: auto;
        margin-left: 1px;
    }
    
    .main__img {
        width: 360px;
        height: 208px;
        margin: 0;

        border-radius: 5px;
    }

}







/************************************************/



/* Правила для 1120px */
@media (min-width: 1120px) {

    .xl-header--hidden {
        display: none;
    }

    .main__pageTitle_text {
        margin-right: auto;
        margin-left: 30px;
    }


    .xl-main__nav .nav__list {
        height: 40px;
    }

    .xl-main__nav li:first-child,
    .xl-main__nav li:last-child {
        display: inline-flex;
        height: 40px;
        align-items: center;
        column-gap: 8px;

    }

    .main__asideBox,
    .main__sideMenu {
        width: 1063px;
        height: 82px;
    }

    .main__sideMenu {
        flex-wrap: wrap;
    }

    .sideMenu__leftEage_fade,
    .sideMenu__rightEage_fade {
        display: none;
    }

    .main__block {
        height: 363px;
        padding-left: 34px;
        padding-right: 28px;
        padding-bottom: 49px;

        gap: 0 36px;
    }

    .main__block_text {
        width: 490px;
        height: 160px;
    }

    .main__block_text::after {
        letter-spacing: 0.2px;
        font-size: 14px;
        line-height: 18px;
        text-align: left;
        content: "Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера, что подтверждает большое количество постоянных клиентов. Мы гордимся тем, что к нам обращаются по рекомендациям и, в свою очередь, советуют нас родным и близким." ;
    }

    .main__img {
        width: 531.35px;
        height: 307px;
        
    }


}
