/*Белый фон для размера меньше 320px */
@media (max-width: 319px) {
    body {
        display: none;
    }
}


/* Правила для 320px */
@media (min-width: 320px) {
    body {
        padding: 0;
        margin: 0;
    }
    
    

    .header__structure {
        width: 100%;
        height: 87px;
        padding: 0;
        margin: 0;

        background: #FFFFFF;
        border-bottom: 1px solid #D9FFF5;

        list-style-type: none;
        display: flex;
        align-items: center ;
        justify-content: space-between;
        flex-direction: row;

    }
    
    .header__button_BurgerIcon {
        width: 40px;
        height: 40px;
        margin-left: 16px;
    }
    
    .header__link_logoIcon {
        width: 96px;
        height: 50px;
        margin-left: 16px;    
        margin-right: auto;
    }
    
    .header__dividerIcon1 {
        display: none;   
    
    }
    
    .header__dividerIcon2 {
        width: 2px;
        height: 32px;
        margin-left: auto;    
    
    }
    
    .header__button_repairIcon {
        width: 40px;
        height: 40px;
        margin-left: 16px;
    }
    
    .header__button_checkStatusIcon {
        width: 40px;
        height: 40px;
        margin-right: 16px;
        margin-left: 16px;
    }
    


    /* main block */
    .main {
        display: flex;
        flex-direction: column;

        margin: 0;
        padding: 0;
        background-color: #F8F8F8;

        font-family: 'TT Lakes',sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #1B1C21;
    }
    
    .main__pageTitle {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 24px;
        height: max-content;
    }

    .main__pageTitle_hilight {
        width: 4px;
        height: 40px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #41F6D7;
    }

    .main__pageTitle_text {
        margin: 0;
        margin-left: 12px;

        letter-spacing: -0.6px;
        font-size: 24px;
        line-height: 40px;
    }


    .main__asideBox {
        display: flex;

        position: relative;
        margin: 0;
        margin-top: 24px;
        padding: 0;

        height: 40px;
    }

    .main__sideMenu {           /* Убираю бар */
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .sideMenu::-webkit-scrollbar {
        display: none;
    }

    .main__sideMenu_button {
        flex: 0 0 auto;
        width: 246px;
        border-color: #F8F8F8;
        border-style: solid;
        border-width: 2px;
        border-radius: 6px;
        background-color: #F8F8F8;

        font-size: 16px;
        font-family: 'TT Lakes',sans-serif;
        letter-spacing: -0.2px;
        color: #7E7E82;
    }
    .main__sideMenu_button:first-child {
        margin-left: 16px;
    }

    .main__sideMenu_button:focus {
        background-color: #FFFFFF;
        border-color: #B8FFEC;
    }

    .sideMenu__leftEage_fade {          /* По ТЗ не нужно но я сделал :)*/
        position: absolute;
        left: 0;
        width: 8px;
        height: 40px;
        background: linear-gradient(to right, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    }

    .sideMenu__rightEage_fade {
        position: absolute;
        right: 0;
        width: 24px;
        height: 40px;
        background: linear-gradient(to left, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    }

    .main__blockAbout {
        height: 88px;
        margin: 24px 16px;
    }

    .main__blockAbout_text {
        margin: 0;
        padding: 0;

        font-weight: 300;
        letter-spacing: 0.2px;
        font-size: 14px;
        line-height: 18px;
        text-align: left;
    }

    /*.main__readMore {     не работает почему?
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 16px;
        margin-bottom: 16px;
        width: 132px;
        height: 24px;
    }*/
    
    .main__readMore_text {
        letter-spacing: -0.2px;
    }

}



/* Правила для 768px */
@media (min-width: 768px) {
    body {
        padding: 0;
        margin: 0;
    }
    
    .header {
        width: 100%;
        height: 87px;

        background: #FFFFFF;
        border-bottom: 1px solid #D9FFF5;

        display: flex;
        align-items: center ;
        justify-content: space-between;
        flex-direction: row;
    }
    
    .header__button_BurgerIcon {
        width: 40px;
        height: 40px;
        margin-left: 16px;
    }
    
    .header__link_logoIcon {
        width: 96px;
        height: 50px;
        margin-left: 16px;    
        margin-right: auto;
    }
    

    .header__dividerIcon {
        width: 2px;
        height: 32px;
        margin-left: auto;    
    
    }
    
    .header__button_repairIcon {
        width: 40px;
        height: 40px;
        margin-left: 16px;
    }
    
    .header__button_checkStatusIcon {
        width: 40px;
        height: 40px;
        margin-right: 16px;
        margin-left: 16px;
    }
    


    /* main block */
    .main {
        display: flex;
        flex-direction: column;

        margin: 0;
        padding: 0;
        background-color: #F8F8F8;

        font-family: 'TT Lakes',sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #1B1C21;
    }
    
    .main__pageTitle {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 24px;
        height: max-content;
    }

    .main__pageTitle_hilight {
        width: 4px;
        height: 40px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #41F6D7;
    }

    .main__pageTitle_text {
        margin: 0;
        margin-left: 12px;

        letter-spacing: -0.6px;
        font-size: 24px;
        line-height: 40px;
    }


    .main__asideBox {
        display: flex;

        position: relative;
        margin: 0;
        margin-top: 24px;
        padding: 0;

        height: 40px;
    }

    .main__sideMenu {           /* Убираю бар */
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .sideMenu::-webkit-scrollbar {
        display: none;
    }

    .main__sideMenu_button {
        flex: 0 0 auto;
        width: 246px;
        border-color: #F8F8F8;
        border-style: solid;
        border-width: 2px;
        border-radius: 6px;
        background-color: #F8F8F8;

        font-size: 16px;
        font-family: 'TT Lakes',sans-serif;
        letter-spacing: -0.2px;
        color: #7E7E82;
    }
    .main__sideMenu_button:first-child {
        margin-left: 16px;
    }

    .main__sideMenu_button:focus {
        background-color: #FFFFFF;
        border-color: #B8FFEC;
    }

    .sideMenu__leftEage_fade {          /* По ТЗ не нужно но я сделал :)*/
        position: absolute;
        left: 0;
        width: 8px;
        height: 40px;
        background: linear-gradient(to right, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    }

    .sideMenu__rightEage_fade {
        position: absolute;
        right: 0;
        width: 24px;
        height: 40px;
        background: linear-gradient(to left, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    }

    .main__blockAbout {
        height: 88px;
        margin: 24px 16px;
    }

    .main__blockAbout_text {
        margin: 0;
        padding: 0;

        font-weight: 300;
        letter-spacing: 0.2px;
        font-size: 14px;
        line-height: 18px;
        text-align: left;
    }

    /*.main__readMore {     не работает почему?
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 16px;
        margin-bottom: 16px;
        width: 132px;
        height: 24px;
    }*/
    
    .main__readMore_text {
        letter-spacing: -0.2px;
    }

}







