@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Bold.woff') format('woff'),
        url('TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Medium.woff') format('woff'),
        url('TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Regular.woff') format('woff'),
        url('TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




